/* Put your style information here! */

/* mansalva-regular - latin */
@font-face {
  font-family: 'Mansalva';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/mansalva-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Mansalva Regular'), local('Mansalva-Regular'),
       url('./fonts/mansalva-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/mansalva-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/mansalva-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/mansalva-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/mansalva-v2-latin-regular.svg#Mansalva') format('svg'); /* Legacy iOS */
}

/* secular-one-regular - latin */
@font-face {
  font-family: 'Secular One';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/secular-one-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Secular One'), local('SecularOne-Regular'),
       url('./fonts/secular-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/secular-one-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/secular-one-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/secular-one-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/secular-one-v5-latin-regular.svg#SecularOne') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Mansalva', cursive;
    padding-top: 50px; 
    background-color: #381D2A;
}

h1{
    font-family: 'Mansalva', cursive;
    font-size: 50px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

li,
h3,
p{
    font-family: 'Secular One', cursive;
    font-size: 20px;
}

li > small{
    font-family: 'Sans Serif', 'Verdana', serif;
    font-weight: lighter;
    color: white;
}

h4 {
    font-family: 'Secular One', serif;/* 'Open Sans', Ariel, Helvetica, sans-serif; */
    padding-top: 2rem;
}

.bg-cover {
  /* Set rules to fill background */
  /* min-height: 100%; */
  /* min-width: 100%; */
	
  /* /\* Set up positioning *\/ */
  /* position: fixed; */

    background: url(./img/coffee_splash.jpg) repeat center center fixed;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.pb {
    padding-bottom: 2rem;
}

.storyboard-item {
    width: 360px;
    /* border: 5% solid #381D2A; */
    margin: 2%;
    background-color: #381D2A
}

span {
    margin-left: 1rem;
    margin-right: 1rem;
}

.user-a {
    color: #b89227;
}

.user-b {
    color: #BA5624;
}

.user-c {
    color: #800000;
}
